#main-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
}

.content-block {
    margin: 2px 10px;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 6px;
}

#header {
    margin-top: 10px;
}

#content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
}

#footer {
    margin-bottom: 10px;
}

.NoteDayCalendarWidget {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.NoteDayCalendarWidget-waterLabel {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.NoteDayCalendarWidget-waterLabel div {
    font-size: 30px;
    color: lightgrey;
    font-weight: bold;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.NoteDayCalendarWidget div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NoteDayCalendarWidget-caption {
    background-color: lightgrey;
    font-weight: bold;
    justify-content: flex-end !important;
}

.NoteDayCalendarWidgetSelectable:hover {
    background-color: aliceblue;
}

.NoteDayCalendarWidgetSelectable-selected {
    background-color: aliceblue;
}

.CalendarHeaderField {
    width: 100px;
    text-align: center;
    margin: 3px;
}

.workspace-main {
    display: flex;
    flex-direction: row;
    width: 1650px;
    justify-content: space-between;
}

.workspace-left {
    
}

.workspace-right {
    
}

.workspace-top {
    
}

.workspace-bottom {
    
}