#main-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

.content-block {
    margin: 2px 10px;
    padding: 10px;
    border: solid 1px gray;
    border-radius: 6px;
}

#header {
    margin-top: 10px;
}

#content {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    justify-content: center;
}

#footer {
    margin-bottom: 10px;
}

.NoteDayCalendarWidget {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.NoteDayCalendarWidget-waterLabel {
    width: 100px;
    height: 100px;
    position: absolute;
    display: flex !important;
    justify-content: center !important;
    align-items: center;
}

.NoteDayCalendarWidget-waterLabel div {
    font-size: 30px;
    color: lightgrey;
    font-weight: bold;
}

.NoteDayCalendarWidget div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CalendarHeaderField {
    width: 100px;
    text-align: center;
}