<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mativ.server.mybatis.mappers.NoteMapper">

    <resultMap id="NoteBeanResult" type="ru.mativ.shared.bean.NoteBean">
        <result property="id" column="ID" />
        <result property="userId" column="USER_ID" />
        <result property="typeId" column="TYPE_ID" />
        <result property="note" column="NOTE" />
        <result property="comment" column="COMMENT" />
        <result property="date" column="DAY" />
        <result property="hours" column="HOURS" />
    </resultMap>

    <select id="getByUserIdAndDate" resultMap="NoteBeanResult">
        SELECT  id,
                user_id,
                type_id,
                note,
                comment,
                day,
                hours
        FROM note
        WHERE user_id = #{userId}
        AND day = #{date};
    </select>

    <select id="getByUserIdAndNoteId" resultMap="NoteBeanResult">
        SELECT  id,
                user_id,
                type_id,
                note,
                comment,
                day,
                hours
        FROM note
        WHERE user_id = #{userId}
        AND id = #{noteId};
    </select>
</mapper>
