<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mativ.server.mybatis.mappers.NoteMapper">

    <resultMap id="NoteDaoResult" type="ru.mativ.server.mybatis.dao.NoteDao">
        <result property="id"       column="id" />
        <result property="userId"   column="user_id" />
        <result property="typeId"   column="type_id" />
        <result property="note"     column="note" />
        <result property="comment"  column="comment" />
        <result property="date"     column="day" />
        <result property="hours"    column="hours" />
    </resultMap>

    <select id="getByUserIdAndDate" resultMap="NoteDaoResult">
        SELECT  id,
                user_id,
                type_id,
                note,
                comment,
                day,
                hours
        FROM note
        WHERE user_id = #{userId}
        AND day = #{date};
    </select>

    <select id="getByUserIdAndNoteId" resultMap="NoteDaoResult">
        SELECT  id,
                user_id,
                type_id,
                note,
                comment,
                day,
                hours
        FROM note
        WHERE user_id = #{userId}
        AND id = #{noteId};
    </select>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="ru.mativ.server.mybatis.dao.NoteDao">
        INSERT INTO note (
            user_id,
            type_id,
            note,
            comment,
            day,
            hours)
        VALUES (
            #{userId},
            #{typeId},
            #{note},
            #{comment},
            #{date},
            #{hours});
        <selectKey resultType="int" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() as id
        </selectKey>
    </insert>

    <update id="update" parameterType="ru.mativ.server.mybatis.dao.NoteDao">
        UPDATE note
        SET user_id =   #{userId},
            type_id =   #{typeId},
            note =      #{note},
            comment =   #{comment},
            day =       #{date},
            hours =     #{hours}
        WHERE id = #{id};
    </update>

    <select id="getByUserIdAndPeriod" resultMap="NoteDaoResult">
        SELECT id,
            user_id,
            type_id,
            note,
            comment,
            day,
            hours
        FROM note
        WHERE user_id = #{userId}
        AND day BETWEEN #{dateFrom} AND #{dateTo};
    </select>
</mapper>
