<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ru.mativ.server.mybatis.mappers.UserMapper">

    <resultMap id="UserBeanResult" type="ru.mativ.shared.bean.UserBean">
        <result property="id" column="ID" />
        <result property="login" column="LOGIN" />
        <result property="name" column="NAME" />
        <result property="mail" column="MAIL" />
    </resultMap>

    <insert id="insert" parameterType="ru.mativ.shared.bean.UserBean">
        INSERT INTO user (LOGIN, NAME, MAIL, PASSWORD)
        VALUES (#{user.login}, #{user.name}, #{user.mail}, #{password});
    </insert>

    <select id="getByLoginPass" resultMap="UserBeanResult">
        SELECT *
        FROM user
        WHERE login = #{login}
        AND password = #{pass};
    </select>

    <select id="getByLogin" resultMap="UserBeanResult">
        SELECT *
        FROM user
        WHERE login = #{login};
    </select>

</mapper>
