<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0" xmlns="http://java.sun.com/xml/ns/javaee">

    <!-- Filter -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.mativ.server.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <servlet-name>greetServlet</servlet-name>
        <servlet-name>noteServlet</servlet-name>
    </filter-mapping>


    <!-- Servlet GREET -->
    <servlet>
        <servlet-name>greetServlet</servlet-name>
        <servlet-class>ru.mativ.server.service.GreetingServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>greetServlet</servlet-name>
        <url-pattern>/laborcoast/greet</url-pattern>
    </servlet-mapping>

    <!-- Servlet LOGIN -->
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>ru.mativ.server.service.LoginServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/laborcoast/login</url-pattern>
    </servlet-mapping>
    
    <!-- Servlet NOTS -->
    <servlet>
        <servlet-name>noteServlet</servlet-name>
        <servlet-class>ru.mativ.server.service.NoteServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>noteServlet</servlet-name>
        <url-pattern>/laborcoast/note</url-pattern>
    </servlet-mapping>
    
    <!-- remote logging -->
    <servlet>
        <servlet-name>remoteLogging</servlet-name>
        <servlet-class>com.google.gwt.logging.server.RemoteLoggingServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>remoteLogging</servlet-name>
        <url-pattern>/laborcoast/remote_logging</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>LaborCoast.html</welcome-file>
    </welcome-file-list>

    <listener>
        <listener-class>ru.mativ.server.ApplicationInitializer</listener-class>
    </listener>
</web-app>
